<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	    
    <!-- Constructor Injection -->
    
    <bean id="custom" class="valueInjection.customer">
    <property name="name" value="sahil_pal"/>
    <property name="email" value="sahil@123"/>
    <property name="Address" ref="add"/>
    </bean>
    
    <bean id="add" class="valueInjection.address">
    <property name="city" value="ggn"/>
    <property name="house_no" value="1585"/>
    <property name="state" value="haryana"/>
    <property name="pincode" value="122102"/>
    </bean>
    
</beans>